@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

.app-container {
  background: black url(../../images/backgrounds/stars.jpg);
  animation: stars 240s linear 0s infinite;
  background-size: 100%;
  overflow: hidden;
}

@keyframes stars {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

.main-content {
  padding: 30px;
  margin-left: 250px;
  color: #ff7300;
}

.title {
  font-size: 4vmin;
  font-family: 'Wallpoet', sans-serif;
  color: #ff7300;
  text-align: center;
  cursor: pointer;
  text-shadow: 0 0 20px #fff;
  transition: font-weight 250ms ease-in-out, text-shadow 250ms ease-in-out;
}

.title:hover {
  font-size: 5vmin;
  font-weight: 900;
  text-transform: uppercase;
  color: #009CC3;
  text-shadow: 0 0 20px #ff7300;
}

.subtitle {
  font-size: 3vmin;
  font-weight: 600;
  font-family: 'Wallpoet', sans-serif;
  color: #009CC3;
  text-align: center;
  text-shadow: 0 0 20px #ff7300;
  cursor: pointer;
  transition: font-weight 250ms ease-in-out;
}

.subtitle:hover {
  font-weight: 900;
  text-transform: uppercase;
  color: #ff7300;
  text-shadow: 0 0 20px #009CC3;
}

.image-feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  position: relative;
}

.flag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flag-image {
  width: 305px;
  height: 235px;
  --_g: 10% /45% 45% no-repeat linear-gradient(#000 0 0);
  --m:
    left   var(--_i,0%) top    var(--_g),
    bottom var(--_i,0%) left   var(--_g),
    top    var(--_i,0%) right  var(--_g),
    right  var(--_i,0%) bottom var(--_g);
  -webkit-mask: var(--m);
          mask: var(--m);
  filter: contrast(0.8);
  transition: .3s linear;
  cursor: pointer;
}

.flag-image:hover {
  --_i: 10%;
  filter: grayscale(0);
}

.flag-name {
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Wallpoet', sans-serif;
  color: #009CC3;
  letter-spacing: 1px;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #000, 0 0 15px #ff7300, 0 0 50px #ff7300;
  animation: textAnimation 5s infinite;
}

@keyframes textAnimation {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  50% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(25%);
    opacity: 0;
  }
}
